<?xml version="1.0"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Automation Suite" thread-count="1" parallel="tests">

    <test name="TestSuit1" parallel="tests">
        <classes>
            <class name="Tests.SearchTests"/>
            <class name="Tests.BasketTests"/>
            <class name="Tests.FormTests"/>
        </classes>
    </test>

</suite>